<html>
<head>
<title>SRGAN</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>


<div class="container">
  <div class="text-center">
    <h2>
      Single Image Super Resolution
    </h2>
</div>

<div class="row">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    
    <form method="post" action="/" enctype="multipart/form-data">
      
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <dl>
        <p>Choose Model:</p>
          <input type="submit" value="DIV2K" name="DIV2K" onclick="$('#loading').show();"
          class="btn btn-primary"/>
          <input type="submit" value="CELEB" name="CELEB" onclick="$('#loading').show();"
          class="btn btn-primary"/>
        </dl>
        <!-- <p>
            <input type="submit" value="Submit" class="btn btn-primary">
        </p> -->
        
    </form>
    <div id="loading" class="text-center" style="display:none;"><img src="/static/loading2.gif" alt="Loading...." height="250px" width="250px"/></div>
</div>


<div class="container">
 {% if genImg %} 
<div class="row">
  <!-- {% if filename %} -->
  <div class="col-xs-6 col-md-6">
    <div class="page-header">
      <h2 class="text-center">Input Image</h2>
    </div>
    <a href="#" class="thumbnail">
      <img src="{{ url_for('display_ip_image', filename=filename) }}" class="img-responsive">
    </a>
    {% if width_upload %}
      <h3 class="text-center">{{width_upload}} * {{height_upload}}</h3>
    {% endif %}
  </div>  
  <!-- {% endif %} -->

<!-- {% if genImg %} -->
<div class="col-xs-6 col-md-6">
  <div class="page-header">
    <h2 class="text-center">Output Image</h2>
  </div>
  <a href="#" class="thumbnail">
    <img src="{{ url_for('display_op_image', filename=genImg) }}" class="img-responsive">
  </a>
  {% if width_out %}
    <h3 class="text-center">{{width_out}} * {{height_out}}</h3>
  {% endif %}
<!-- {% endif %} -->
</div>
</div>

{% endif %}


</div>
</div>
</body>
</html>